@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Montserrat Regular';
    font-display: block;
    src: url(./fonts/Montserrat-Regular.woff2) format('woff2');
  }
}

@layer base {
  @font-face {
    font-family: 'Montserrat Bold';
    font-display: block;
    src: url(./fonts/Montserrat-Bold.woff2) format('woff2');
  }
}

/* Custom CSS */

/* svg {
  width: 100%;
  height: 100%;
} */

html {
  scroll-behavior: smooth;
}

.p_vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.p_grid-area {
  grid-area: 1 / 1;
}

.p_spin_fast {
  animation-name: spin;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.p_spin_normal {
  animation-name: spin;
  animation-delay: 2s;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}


.p_spin_slow {
  animation-name: spin;
  animation-delay: 4s;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.p_spin_slower {
  animation-name: spin;
  animation-delay: 6s;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}